<li class="nav-item dropdown show">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Albums</a>
        <a class="dropdown-item" href="#">Users to Albums</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Media Types</a>
    </div>
</li>